@charset "ISO-8859-1";


.container {
    max-width: 200px;
    margin: 200px auto;
    padding: 20px;
    background-color: white;
    margin-left: 220px;
}

h2 {
    color: #ffffff;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    color: #0e2433;
    text-align: center;
    border-bottom: 2px solid black; /* P?idáno dolní ohrani?ení */
    outline: none;
}

input[type="submit"] {
    background-color: #000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 22px;
}

.message {
    background-color: #000000;
    color: white;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
}


body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: black;
    text-align: center;
    margin: 20px;
    padding: 0;
}


.background-image-register {
    background-image: url('foto1.jpg');
}

.icon-sneakers {
    background-image: url('../../templates/sneakers.png');
}